@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: #111827;
  /* background: linear-gradient(
      to top,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  /* background: white; */
}
.mask {
  -webkit-mask-image: radial-gradient(
    32rem 32rem at center,
    white,
    transparent
  );
  mask-image: radial-gradient(32rem 32rem at center, white, transparent);
}
.mask2 {
  -webkit-mask-image: radial-gradient(
    32rem 32rem at center,
    #9494943d,
    transparent
  );
  mask-image: radial-gradient(32rem 32rem at center, white, transparent);
}
